{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
{{#if feature_image}}
    <img src="{{feature_image}}" class="wechat-only">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{feature_image}}">
    {{else}}
    <img src="http://images.10art.cc/ttwechat.jpg" class="hide">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{@blog.cover_image}}" style="background-image:no-cover">
    {{/if}}

        <div class="nav-header">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="back-home">Home</a>
        </div>

        </div>
        <div class="header-wrap" >
            <div class="post-info-container">
                <h2 class="post-page-title ">
                {{title}}
            </h2>
                <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
                <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
                <span class="post-page-tags">
                    {{tags prefix="" separator=" "}}
               </span>
            </div>

        </div>
        <div class="arrow_down">
               <a href="javascript:;"></a>
        </div>
    </header>




<main class="content" id="main" role="main">

    <article class="{{post_class}}">

     <section class="post-content">
     <div class="single-post-inner">
        {{content}}
        <div class="tag-box">
          {{tags prefix="" separator=" "}}
        </div>
     </div>
    </section>


    {{#author}}
                <section class="author">
                 {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="javascript:;" style="background-image: url('{{profile_image}}')"><span class="hide">{{name}}'s Picture</span></a>
            </figure>
              {{/if}}

            <section class="author-detail">
                <a href="javascript:;">{{name}}</a>
            {{#if bio}}
                 <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
                <div class="author-meta">
                     {{#if location}}
                    <span class="author-location">{{location}}</span>
                    {{/if}}
                     {{#if website}}
                    <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                    {{/if}}
                </div>

            </section>
        </section>
        {{/author}}




    </article>

          <section class="share">
            <div class="share-icons" id="share-icons">
               <a class="icon-share" href="http://weibo.com/cerary/">
                    <span class=""><i class="iconfont iconfont-weibo">&#xe607;</i></span>
                </a>

                <a class="icon-share" href="https://www.facebook.com/cerary">
                    <span class=""><i class="iconfont iconfont-facebook">&#xe601;</i></span>
                </a>
                <a class="icon-share" href="https://www.instagram.com/10artcc/">
                    <span class=""><i class="iconfont  iconfont-instagram">&#xe603;</i></span>
                </a>
                <a class="icon-share icon-weibo" href="https://www.zhihu.com/people/cerary">
                    <span class=""><i class="iconfont  iconfont-zhihu">&#xe609;</i></span>
                </a>
            </div>
        </section>
</main>
</section>

<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
{{/post}}

